@using Microsoft.AspNetCore.Identity
@using WIRKDEVELOPER.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/Si" />
	<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<link href="~/Sidebar/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Qumbu_Community_Health_Care_Center</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@*for icon*@
	<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />
	<link rel="stylesheet" href="~/css/css/animate.css">


	<link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/css/magnific-popup.css">

	<!-- color css -->
	<link rel="stylesheet" href="~/css/css/css/css/colors.css" />

	<link rel="stylesheet" href="~/css/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/css/jquery.timepicker.css">

	<link rel="stylesheet" href="~/css/css/flaticon.css">
	<link rel="stylesheet" href="~/css/css/style.css">
	<!-- site css -->
	<link rel="stylesheet" href="~/css/css/css/css/css/style.css" />
	@* <!-- scrollbar css -->
	<link rel="stylesheet" href="~/css/css/css/css/perfect-scrollbar.css" /> *@
</head>
@if (User.IsInRole("Surgeon"))
{
	<body>


		<div class="wrapper">
			<nav class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">

					<div class="sidebar_blog_1">
						@* <div class="sidebar-header">
					<div class="logo_section">
					<a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
					</div>
					</div> *@
						<div>
							<div class="icon_setting"></div>
							<div class="user_profle_side">
								<div class="user_img"><img class="img-responsive" src="~/_Images/logo/3.png" alt="#" /></div>
								<div class="user_info">
									<h6>
										<span class="text-light">
											@UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName
										</span>
									</h6>
									<p><span class="online_animation"></span> Online</p>
								</div>
							</div>
						</div>
					</div>

					@* <div class="user_info">
				<a class="sidebar-brand" href="index.html">
				<span class="align-middle"><img class="img-responsive" width="200" src="~/_Images/2.png" alt="#" /></span>
				</a> *@
					@* <h6>
				<span class="text-light">
				<a>
				@UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName

				</a>
				</span>
				</h6>
				<p><span class="online_animation"></span> Online</p> *@
					@* </div> *@

					<br />
					<br />
					<br />
					<ul class="sidebar-nav">


						<li class="sidebar-item">
							<a asp-controller="Home" asp-action="Index" class="sidebar-link">
								<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
							</a>
						</li>
						<li class="sidebar-item align-middle">
							<a asp-controller="Surgeon" asp-action="DashBoard" class="sidebar-link">
								<i class="align-middle" data-feather="menu"></i> <span class="align-middle">Dashboard</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-controller="Surgeon" asp-action="IndexViewPatient" class="sidebar-link">
								<i class="align-middle" data-feather="folder"></i> <span class="align-middle">Patient</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-controller="Surgeon" asp-action="BookingList" class="sidebar-link">
								<i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Booking</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-controller="Surgeon" asp-action="BookingPatientList" class="sidebar-link">
								<i class="align-middle" data-feather="home"></i> <span class="align-middle">Book new Patient</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-controller="Surgeon" asp-action="PrescriptionList" class="sidebar-link">
								<i class="align-middle" data-feather="activity"></i> <span class="align-middle">Prescription</span>
							</a>
						</li>
						<a asp-controller="Surgeon" asp-action="GenerateReport" class="btn btn-info">Generate Surgery Report</a>

						<li class="sidebar-item">
							<a asp-controller="Surgeon" asp-action="ToDoList" class="sidebar-link">
								<i class="align-middle" data-feather="list"></i> <span class="align-middle">To-to list</span>
							</a>
						</li>


					</ul>

				</div>
			</nav>

			<div class="main">
				<div>
					<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
						<a class="sidebar-toggle js-sidebar-toggle">
							<i class="hamburger align-self-center"></i>
						</a>

						<div class="navbar-collapse collapse">
							<ul class="navbar-nav navbar-align">

								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
										<i class="align-middle" data-feather="settings"></i>
									</a>
									<div class="user_info">
										<a>
											<span class="text-dark">@UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName</span>

											<img src="~/_Images/logo/user-solid.svg" class="avatar img-fluid rounded mt-3" />
										</a>
									</div>

									<ul class="user_profile_dd">
										<li>
											<a class="dropdown-toggle" data-toggle="dropdown">
												<span class="text-dark">
													Surgeon
												</span>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="profile.html">My Profile</a>
												<a class="dropdown-item" href="settings.html">Settings</a>
												<a class="dropdown-item" href="help.html">Help</a>
												<a class="dropdown-item">
													<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
														<button id="logout" type="submit" class="btn btn-secondary">Logout</button>
													</form>
												</a>

											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>

					</nav>

				</div>

				<main class="content pb-3 width-200px">
					<div class="container-fluid p-0">
						@RenderBody()
						@RenderSection("Scripts", required: false)
					</div>
				</main>

				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">
							<div class="col-6 text-start">
								<p class="mb-0">
									<a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>QCHCC</strong></a> &copy;
								</p>
							</div>
							<div class="col-6 text-end">
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>

			</div>
		</div>
		<main role="main" class="pb-3">
			@RenderBody()
			@* @RenderSection("Scripts", required: false) *@
		</main>

		<script src="~/Sidebar/js/app.js"></script>

		<script src="~/js/site.js"></script>

		<!-- jQuery -->
		<script src="~/js/js/jquery.min.js"></script>
		<script src="~/js/js/popper.min.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<!-- wow animation -->
		<script src="~/js/js/animate.js"></script>
		<!-- select country -->
		<script src="~/js/js/bootstrap-select.js"></script>
		<!-- owl carousel -->
		<script src="~/js/js/owl.carousel.js"></script>
		<!-- chart js -->
		<script src="~/js/js/Chart.min.js"></script>
		<script src="~/js/js/Chart.bundle.min.js"></script>
		<script src="~/js/js/utils.js"></script>
		<script src="~/js/js/analyser.js"></script>
		<!-- nice scrollbar -->
		<script src="~/js/js/perfect-scrollbar.min.js"></script>
		<script>
			var ps = new PerfectScrollbar('#sidebar');
		</script>
		<!-- custom js -->
		<script src="~/js/js/custom.js"></script>
		<script src="~/js/js/chart_custom_style1.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
				var gradient = ctx.createLinearGradient(0, 0, 0, 225);
				gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
				gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
				// Line chart
				new Chart(document.getElementById("chartjs-dashboard-line"), {
					type: "line",
					data: {
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
						datasets: [{
							label: "Sales ($)",
							fill: true,
							backgroundColor: gradient,
							borderColor: window.theme.primary,
							data: [
								2115,
								1562,
								1584,
								1892,
								1587,
								1923,
								2566,
								2448,
								2805,
								3438,
								2917,
								3327
							]
						}]
					},
					options: {
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						tooltips: {
							intersect: false
						},
						hover: {
							intersect: true
						},
						plugins: {
							filler: {
								propagate: false
							}
						},
						scales: {
							xAxes: [{
								reverse: true,
								gridLines: {
									color: "rgba(0,0,0,0.0)"
								}
							}],
							yAxes: [{
								ticks: {
									stepSize: 1000
								},
								display: true,
								borderDash: [3, 3],
								gridLines: {
									color: "rgba(0,0,0,0.0)"
								}
							}]
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Pie chart
				new Chart(document.getElementById("chartjs-dashboard-pie"), {
					type: "pie",
					data: {
						labels: ["Chrome", "Firefox", "IE"],
						datasets: [{
							data: [4306, 3801, 1689],
							backgroundColor: [
								window.theme.primary,
								window.theme.warning,
								window.theme.danger
							],
							borderWidth: 5
						}]
					},
					options: {
						responsive: !window.MSInputMethodContext,
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						cutoutPercentage: 75
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Bar chart
				new Chart(document.getElementById("chartjs-dashboard-bar"), {
					type: "bar",
					data: {
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
						datasets: [{
							label: "This year",
							backgroundColor: window.theme.primary,
							borderColor: window.theme.primary,
							hoverBackgroundColor: window.theme.primary,
							hoverBorderColor: window.theme.primary,
							data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
							barPercentage: .75,
							categoryPercentage: .5
						}]
					},
					options: {
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						scales: {
							yAxes: [{
								gridLines: {
									display: false
								},
								stacked: false,
								ticks: {
									stepSize: 20
								}
							}],
							xAxes: [{
								stacked: false,
								gridLines: {
									color: "transparent"
								}
							}]
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var markers = [{
					coords: [31.230391, 121.473701],
					name: "Shanghai"
				},
				{
					coords: [28.704060, 77.102493],
					name: "Delhi"
				},
				{
					coords: [6.524379, 3.379206],
					name: "Lagos"
				},
				{
					coords: [35.689487, 139.691711],
					name: "Tokyo"
				},
				{
					coords: [23.129110, 113.264381],
					name: "Guangzhou"
				},
				{
					coords: [40.7127837, -74.0059413],
					name: "New York"
				},
				{
					coords: [34.052235, -118.243683],
					name: "Los Angeles"
				},
				{
					coords: [41.878113, -87.629799],
					name: "Chicago"
				},
				{
					coords: [51.507351, -0.127758],
					name: "London"
				},
				{
					coords: [40.416775, -3.703790],
					name: "Madrid "
				}
				];
				var map = new jsVectorMap({
					map: "world",
					selector: "#world_map",
					zoomButtons: true,
					markers: markers,
					markerStyle: {
						initial: {
							r: 9,
							strokeWidth: 7,
							stokeOpacity: .4,
							fill: window.theme.primary
						},
						hover: {
							fill: window.theme.primary,
							stroke: window.theme.primary
						}
					},
					zoomOnScroll: false
				});
				window.addEventListener("resize", () => {
					map.updateSize();
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
				var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
				document.getElementById("datetimepicker-dashboard").flatpickr({
					inline: true,
					prevArrow: "<span title=\"Previous month\">&laquo;</span>",
					nextArrow: "<span title=\"Next month\">&raquo;</span>",
					defaultDate: defaultDate
				});
			});
		</script>
	</body>
}
</html>