@using Microsoft.AspNetCore.Identity
@using WIRKDEVELOPER.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<WIRKDEVELOPER.Models.OrderCreate>

@{
    Layout = "AnaesthesiologistLayout";
}
@if (User.IsInRole("Anaesthesiologist"))
{
    <h1>Orders List</h1>

    <p>
        <a asp-action="CreateOrder" class="btn btn-primary">Create New Order</a>
    </p>
    @if(Model.Count() >0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        Patient

                    </th>
                    <th>
                        Medication
                        @* @Html.DisplayNameFor(model => model.PharmacyMedication) *@
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Urgent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Anaesthesiologist
                    </th>
                    <th>
                        Action
                    </th>
                    @*  <th>
            @Html.DisplayNameFor(model => model.Notes)
            </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    if (order.Urgent.ToLower() == "yes")
                    {
                        <tr scope="row" style="background-color:red;">
                            <td>
                                @order.Date
                            </td>
                            <td>
                                @order.Patient.PatientName
                            </td>
                            <td>
                                @if (order.OrderItems != null && order.OrderItems.Any())
                                {
                                    <ul>
                                        @foreach (var medication in order.OrderItems)
                                        {
                                            <li>
                                                @medication.PharmacyMedication.PharmacyMedicationName - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                            </li>
                                        }
                                    </ul>
                                }
                            </td>

                            <td>
                                @order.Urgent
                            </td>
                            <td>
                                @order.Status
                            </td>
                            <td>
                                Dr <span class="text-dark">@UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName</span>
                            </td>
                            <td>
                                @if (order.Status == "Despensed")
                                {
                                    <a asp-controller="Anaesthesiologist" asp-action="EditOrder" asp-route-id="@order.AnOrderID" class="btn btn-warning">Receive Order</a>

                                }
                                else
                                {
                                    <a asp-controller="Anaesthesiologist" asp-action="EditOrder" asp-route-id="@order.AnOrderID" class="btn btn-info">Edit</a>
@*                                     <a asp-controller="Anaesthesiologist" asp-action="Details" asp-route-id="@order.AnOrderID" class="btn btn-info">Details</a>
 *@                                    <a asp-controller="Anaesthesiologist" asp-action="DeleteOrder" asp-route-id="@order.AnOrderID" class="btn btn-danger">Delete</a>
                                }
                           </td>
                           
                            
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @order.Date
                            </td>
                            <td>
                                @order.Patient.PatientName
                            </td>
                            <td>
                                @if (order.OrderItems != null && order.OrderItems.Any())
                                {
                                    <ul>
                                        @foreach (var medication in order.OrderItems)
                                        {
                                            <li>
                                                @medication.PharmacyMedication.PharmacyMedicationName - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                            </li>
                                        }
                                    </ul>
                                }
                            </td>

                            <td>
                                @order.Urgent
                            </td>
                            <td>
                                @order.Status
                            </td>
                            <td>
                                Dr <span class="text-dark">@UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName</span>
                            </td>

                            @if (order.Status == "Despensed")
                            {
                                <a asp-controller="Anaesthesiologist" asp-action="EditOrder" asp-route-id="@order.AnOrderID" class="btn btn-warning">Receive Order</a>

                            }
                            else
                            {
                                <td>
                                    <a asp-controller="Anaesthesiologist" asp-action="EditOrder" asp-route-id="@order.AnOrderID" class="btn btn-info">Edit</a>
@*                                     <a asp-controller="Anaesthesiologist" asp-action="Details" asp-route-id="@order.AnOrderID" class="btn btn-info">Details</a>
 *@                                    <a asp-controller="Anaesthesiologist" asp-action="DeleteOrder" asp-route-id="@order.AnOrderID" class="btn btn-danger">Delete</a>
                                </td>
                            }
                        </tr>
                    }

                }

            </tbody>
        </table>
    }
    else
    {
        <p>No Orders created yet</p>
    }
}



