@model IEnumerable<WIRKDEVELOPER.Models.Order>

@{
    Layout = "AnaesthesiologistLayout";
}

<h2>Search Results</h2>
<br />
<form asp-action="CreateNoteForOrder" method="post">
@*     <input type="hidden" name="orderId" value="@order.AnOrderID" />
 *@    <input type="text" name="noteText" placeholder="Search Patient" />
    <button type="submit">Create Note</button>
</form>
<br />
<table class="table table-sm table-hover">
    <thead class="table-secondary">
        <tr>

            <th>
                Date
            </th>
            <th>
                Patient
            </th>
            <th>
                Medication ordered
            </th>
            <th>
                Quantity
            </th>
            <th>
                Instruction
            </th>
            <th>
                Urgent
            </th>
            <th>
                Status
            </th>
            <th>
                Notes
            </th>
            @* <th>Order ID</th>
            <th>Patient Name</th>
            <th>Medication</th>
            <th>Order Date</th>
            <th>Create Note</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr scope="row">
                <td width="20%">@order.Date</td>
                @* <td width="20%">@order.Admission.PatientName</td> *@
                <td width="20%">@order.PharmacyMedication.PharmacyMedicationName</td>
                <td width="10%">@order.Quantity</td>
                <td width="10%">@order.Instructions</td>
                <td width="10%">@order.Urgent</td>
                <td width="10%">@order.Status</td>
                <td width="10%">@order.Notes</td>
                @* <td>@order.OrderId</td>
            <td>@order.PatientName</td>
            <td>@order.Medication</td>
            <td>@order.OrderDate</td> *@
                @* <td>
                    <form asp-action="CreateNoteForOrder" method="post">
                        <input type="hidden" name="orderId" value="@order.AnOrderID" />
                        <input type="text" name="noteText" placeholder="Enter note" />
                        <button type="submit">Create Note</button>
                    </form>
                </td> *@
            </tr>
        }
    </tbody>
</table>
