@model IEnumerable<WIRKDEVELOPER.Models.Order>

@{
    Layout = "AnaesthesiologistLayout";
}


<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css" />
</head>
<div id="Header" class="bg-info container">
    <h2 class="m-1 pt-4 text-center text-white">Post-Surgery Notes</h2>
</div>
<h2>Search Results</h2>
<br />
<form asp-action="CreateNoteForOrder" method="post">
@*     <input type="hidden" name="orderId" value="@order.AnOrderID" />
 *@    <input type="text" name="noteText" placeholder="Search Patient" />
    <button type="submit">Create Note</button>
</form>
<br />

<table class="table table-sm table-hover">
    <thead class="table-secondary">
        <tr>

            <th>
                Date
            </th>
            <th>
                Patient
            </th>
            <th>
                Medication ordered
            </th>
            <th>
                Quantity
            </th>
            <th>
                Instruction
            </th>
            <th>
                Urgent
            </th>
            <th>
                Status
            </th>
            <th>
                Notes
            </th>
            <th>
                Action
            </th>
            @* <th>Order ID</th>
            <th>Patient Name</th>
            <th>Medication</th>
            <th>Order Date</th>
            <th>Create Note</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            @if (order.Status == "Received")
            {
                <tr scope="row">
                    <td width="20%">@order.Date</td>
                    <td width="20%">@order.Addm.PatientName</td>
                    <td width="20%">@order.PharmacyMedication.PharmacyMedicationName</td>
                    <td width="10%">@order.Quantity</td>
                    <td width="10%">@order.Instructions</td>
                    <td width="10%">@order.Urgent</td>
                    <td width="10%">@order.Status</td>
                    <td width="10%">@order.Notes</td>

                    <td>
                        <a asp-controller="Anaesthesiologist" asp-action="CreateNoteForOrder" asp-route-ID="@order.AnOrderID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Note</a>

                        @* <a asp-controller="Anaesthesiologist" asp-action="DeleteOrder" asp-route-ID="@order.AnOrderID" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>Delete
                        </a> *@

                    </td>

                </tr>
            }
            else
            {
                <p>No Orders received yet</p>

            }
           
        }
    </tbody>
</table>
