@model IEnumerable<WIRKDEVELOPER.Models.BookingNew>
@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<div class=" col-10 text-right">
    <a asp-controller="Surgeon" asp-action="CreateBooking" style="width:100%"> Create Booking Patient</a>
</div>
<h1><div class=" bg-info bg-opacity-50 text-center text-white rounded-1"> BOOKINGS FOR NEW PATIENTS</div></h1>
@if (Model.Count() > 0)
{
    <table id="BookingsTable" class=" table table-bordered table-striped table-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>ID Number</th>
                <th>Gender</th>
                <th>province</th>
                <th>city</th>
                <th>surbub</th>
                <th>zip</th>
                <th>ContactNo</th>
                <th>email</th>
                <th>Time</th>
                <th>date</th>
                <th>Theatre</th>
                <th>treatmentcode</th>
                <th> Anasthesiologist</th>
                <th>Delete</th>
                <th> Update</th>
                <th>book surgery</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {

                <tr>
                    <td>@booking.BookingPatientName</td>
                    <td>@booking.BookingPatientSurname</td>
                    <td>@booking.BookingPatientIDNUmber</td>
                    <td>@booking.Gender</td>
                    <td>@booking.province</td>
                    <td>@booking.City</td>
                    <td>@booking.Surbub</td>
                    <td>@booking.Zip</td>
                    <td>@booking.ContactNumber</td>
                    <td>@booking.email</td>
                    <td>@booking.Date</td>
                    <td>@booking.Time</td>
                    <td>@booking.OperationTheatre.OperationTheatreName</td>
                    <td>@booking.treatmentCode.ICDCODE</td>




                    <td>
                        <div class="">
                            <a asp-controller="Surgeon" asp-action="UpdateBooking" asp-route-ID="@booking.BookingNewID" class=" btn btn-blue-300 mx-1">Update</a>
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Surgeon" asp-action="DeleteBooking" asp-route-ID="@booking.BookingNewID" class=" btn btn-blue-300 mx-1">Delete</a>
                    </td>
                    <td>
                        <button class="edit-btn">select</button>
                    </td>

                </tr>



            }

        </tbody>
    </table>
}
else
{
    <p>NO bookings  has been done</p>
}
