@model WIRKDEVELOPER.Models.Prescription;
@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        @* <link rel="stylesheet" href="~/css/StyleSurgeon3.css"> *@
    </head>
    <body>
    <div class="row">
        <div class=" col-1">
            <a asp-action="PrescriptionList" class=" btn btn-primary  ">List</a>
        </div>
    </div>
    <div class="row" >
        <div class=col>
            <div class=" mt-2 bg-info bg-opacity-50 text-center text-white rounded-1"> ADD NEW PRESCRIPTION</div>
        </div>
    </div>
    <form method="post" asp-action="CreatePrescription" class="bg-white bg-opacity-60 border border-3 border-dark">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            @* <div class="col border-2">
                <div class="form-group border-2">
                    <label asp-for="PatientID"></label>
                    <div>
                        <input asp-for="PatientID" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="PatientID" class=" text-danger"></span>
                </div>
            </div> *@
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="Date"></label>
                    <div>
                        <input type="date" asp-for="Date" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Date" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="prescriber"></label>
                    <div>
                        <input asp-for="prescriber" class="form-control" id="InvalidName" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="prescriber" class=" text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="option">
                    <div class="form-group border-1">
                        <label asp-for="Medication"></label>
                        <input asp-for="Medication" name="option[]" type="text" class="option" size="50" placeholder="Add  medicaion" id="Invalid" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Medication" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div id="option2">
                    <div class="form-group border-1">
                        <label asp-for="Quantity"></label>
                        <div>
                            <input asp-for="Quantity" type="number" name="option2[]" class="option2 " size="50" placeholder="Add  Quantity" id="Invalid" required />
                        </div>
                        <div class="invalid-feedback"></div>
                        <span asp-validation-for="Quantity" class=" text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="option3">
                    <div class="form-group border-1">
                        <label asp-for="Instructions"></label>

                        <input asp-for="Instructions" type="text" name="option3[]" class="option3" size="50" placeholder="Add  Instructions" id="Invalid" required />
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Instructions" class=" text-danger"></span>

                </div>
            </div>

            <div class="row">
                <div class="controls">
                    <a href="#" id="add_more">&plus;Add more</a>
                    <a href="#" id="remove">&minus;Remove</a>
                </div>
            </div>


        </div>

        <div class=" row">
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="status"></label>
                    <div>
                        <select id="NurseDropdown" asp-for="status" class=" form-control" id="validationName" required>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="status" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group border-1">
                    <label asp-for="Urgent"></label>
                    <select id="NurseDropdown" asp-for="Urgent" class=" form-control" id="validationName" required>
                        <option value="Yes">Yes</option>
                        <option value=" No">  No</option>

                    </select>
                    <div class="invalid-feedback"></div>
                    <span asp-validation-for="Urgent" class=" text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="popup">
                    <span>
                        <div class=" col-1">
                            <p>Medical-history</p>
                            <a  class=" btn btn-primary btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal2">view</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">MEDICAL HISTORY</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            ALLERGIES
                                        </button>

                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">PATIENT ALLERGIES</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mx-0 mx-sm-auto">
                                                            <div class="card w-75">
                                                                <div class="card-body ">
                                                                    <div class="card-header bg-primary">

                                                                        <h1 class="card-title text-white mt-2"> PATIENT RECORDS</h1>
                                                                    </div>
                                                                    @* <form method="post" asp-action="IndexViewPatient"> *@
                                                                    <div class="border p-3 #FBD603">
                                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                                                                        <div class="row">

                                                                            <div class="form-group">


                                                                                <div class="col-12">
                                                                                    <div class="row">

                                                                                        <div class="col-12">
                                                                                            <div class="row">

                                                                                                <div class="row">
                                                                                                    <div class="col-8">
                                                                                                        <h4>PATIENT INFORMATION</h4>
                                                                                                        <p>Patient Name:@ViewBag.PatientID</p>
                                                                                                        <p>Date Of Birth:@ViewBag.PatientID</p>
                                                                                                        <p>Gender:@ViewBag.PatientID</p>
                                                                                                        @* <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                                                                                                        <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p> *@
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="text-center">
                                                                                            <h1> ALLERGIES</h1>
                                                                                        </div>






                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                            CURRENT MEDICATION
                                        </button>

                                        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">PATIENT CURRENT MEDICATION</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mx-0 mx-sm-auto">
                                                            <div class="card w-75">
                                                                <div class="card-body ">
                                                                    <div class="card-header bg-primary">

                                                                        <h1 class="card-title text-white mt-2"> PATIENT RECORDS</h1>
                                                                    </div>
                                                                    @* <form method="post" asp-action="IndexViewPatient"> *@
                                                                    <div class="border p-3 #FBD603">
                                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                                                                        <div class="row">

                                                                            <div class="form-group">


                                                                                <div class="col-12">
                                                                                    <div class="row">

                                                                                        <div class="col-12">
                                                                                            <div class="row">

                                                                                                <div class="row">
                                                                                                    <div class="col-8">
                                                                                                        <h4>PATIENT INFORMATION</h4>
                                                                                                        <p>Patient Name:@ViewBag.PatientID</p>
                                                                                                        <p>Date Of Birth:@ViewBag.PatientID</p>
                                                                                                        <p>Gender:@ViewBag.PatientID</p>
                                                                                                        @* <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                                                                                                        <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p> *@
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="text-center">
                                                                                            <h1> CURRENT MEDICATION</h1>
                                                                                        </div>






                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                            CONDITIONS
                                        </button>

                                        <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel5">PATIENT CONDITIONS</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mx-0 mx-sm-auto">
                                                            <div class="card w-75">
                                                                <div class="card-body ">
                                                                    <div class="card-header bg-primary">

                                                                        <h1 class="card-title text-white mt-2"> PATIENT RECORDS</h1>
                                                                    </div>
                                                                    @* <form method="post" asp-action="IndexViewPatient"> *@
                                                                    <div class="border p-3 #FBD603">
                                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                                                                        <div class="row">

                                                                            <div class="form-group">


                                                                                <div class="col-12">
                                                                                    <div class="row">

                                                                                        <div class="col-12">
                                                                                            <div class="row">

                                                                                                <div class="row">
                                                                                                    <div class="col-8">
                                                                                                        <h4>PATIENT INFORMATION</h4>
                                                                                                        <p>Patient Name:@ViewBag.PatientID</p>
                                                                                                        <p>Date Of Birth:@ViewBag.PatientID</p>
                                                                                                        <p>Gender:@ViewBag.PatientID</p>
                                                                                                        @* <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                                                                                                        <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p> *@
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="text-center">
                                                                                            <h1> CONDITIONS</h1>
                                                                                        </div>






                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        @* <div class="modal-body">
                                        ...
                                        </div> *@
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="popup">
                    <span>
                        <div class=" col-1">
                            <p>Vital-history</p>
                            <a class=" btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal1">view</a>
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">VITAL HISTORY</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mx-0 mx-sm-auto">
                                                <div class="card w-75">
                                                    <div class="card-body ">
                                                        <div class="card-header bg-primary">

                                                            <h1 class="card-title text-white mt-2" id="exampleModalLabel"> PATIENT RECORDS</h1>
                                                        </div>
                                                        @* <form method="post" asp-action="IndexViewPatient"> *@
                                                        <div class="border p-3 #FBD603">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@

                                                            <div class="row">

                                                                <div class="form-group">


                                                                    <div class="col-12">
                                                                        <div class="row">

                                                                            <div class="col-12">
                                                                                <div class="row">

                                                                                    <div class="row">
                                                                                        <div class="col-8">
                                                                                            <h4>PATIENT INFORMATION</h4>
                                                                                            <p>Patient Name:@ViewBag.PatientID</p>
                                                                                            <p>Date Of Birth:@ViewBag.PatientID</p>
                                                                                            <p>Gender:@ViewBag.PatientID</p>
                                                                                            @* <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                                                                                            <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p> *@
                                                                                        </div>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                            <div class="text-center">
                                                                                <h1>VITALS</h1>
                                                                            </div>





                                                                            @*  </div> *@
                                                                            @*  <div class="col">
                                                                            <a asp-action="IndexScree" class="btn btn-danger w-75"><i class="bi bi-arrow-left-circle"></i>BACK</a>
                                                                            </div> *@
                                                                            @*  </div>
                                                                            </div> *@

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*    </form> *@
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col">
                <div class=" form-control bg-white bg-opacity-25">
                    <a asp-controller="Surgeon" asp-action="Dashboard">Back</a>

                </div>
            </div>
            <div class="col">
                <div class=" form-control bg-white bg-opacity-25">
                    <input type="submit" class="btn-outline-primary" value="submit" />

                </div>
            </div>

        </div>

    </form>
  
 
    <script src="~/css/JavaScript.js"></script>
    </body>
</html>

