@model IEnumerable<PrescriptionViewModel>
@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date</th>
            <th>medication</th>
            <th>Urgent</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td>@prescription.Name</td>
                <td>@prescription.Gender</td>
                <td>@prescription.Email</td>
                <td>@prescription.Date</td>
                <td>@prescription.Medications.</td>
                <td>@prescription.Prescriber</td>
                <td>@prescription.Urgent</td>
                <td>@prescription.Status</td>
            </tr>
        }
    </tbody>
</table>
