@model IEnumerable<PrescriptionMedication>

@{
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<h1><div class="bg-info bg-opacity-50 text-center text-white rounded-1">PRESCRIPTIONS</div></h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date</th>
            <th>Medication</th>
            <th>Quantity</th>
            <th>Instructions</th>
            <th>Prescriber</th>
            <th>Urgent</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td>@prescription.Prescription?.Name</td>
                <td>@prescription.Prescription?.Gender</td>
                <td>@prescription.Prescription?.Email</td>
                <td>@prescription.Prescription?.Date.ToString("d")</td>
                <td>@prescription.PharmacyMedication?.PharmacyMedicationName </td>
                <td>@prescription.Quantity</td>
                <td>@prescription.Instructions</td>
                <td>@prescription.Prescription?.Prescriber</td>
                <td>@prescription.Prescription?.Urgent</td>
                <td>@prescription.Prescription?.Status</td>
            </tr>
        }
    </tbody>
</table>
