@model IEnumerable<WIRKDEVELOPER.Models.PrescriptionViewModel>
@{
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<h2>Prescription List</h2>

<table class="table table-bordered table-striped table-white">
    <thead class="thead-primary">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>ID number</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Prescriber</th>
            <th>Status</th>
            <th>Urgent</th>
            <th>Date</th>
            <th>Medications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td>@prescription.Name</td>
                <td>@prescription.Surname</td>
                <td>@prescription.IDNumber</td>
                <td>@prescription.Email</td>
                <td>@prescription.Gender</td>
                <td>@prescription.Prescriber</td>
                <td>@prescription.Status</td>
                <td>@prescription.Urgent</td>
                <td>@prescription.Date.ToString("dd/MM/yyyy")</td>
                <td>
                    <ul>
                        @foreach (var medication in prescription.Medications)
                        {
                            <li>
                                Medication ID: @medication.PharmacyMedicationName - Quantity: @medication.Quantity
                                <br />
                                Instructions: @medication.Instructions
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
