@model IEnumerable<WIRKDEVELOPER.Models.PrescriptionViewModel>

@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}


<h2>Prescription List</h2>

<table class="table table-bordered table-striped table-white">
    <thead class="thead-primary">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date</th>
            <th>Status</th>
            <th>Ignore Reason</th>
            <th>Urgent</th>
            <th>Medications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td>@prescription.Name</td>
                <td>@prescription.Surname</td>
                <td>@prescription.IDNumber</td>
                <td>@prescription.Email</td>
                <td>@prescription.Gender</td>
                <td>@prescription.Date.ToShortDateString()</td>
                <td>@prescription.Status</td>
                <td>@prescription.IgnoreReason</td>
                @if (prescription.Urgent.ToLower() == "yes")
                {
                    <td class="text-danger">@prescription.Urgent</td>
                }
                else
                {
                    <td>@prescription.Urgent</td>
                }
               
                <td>
                    <ul>
                        @foreach (var medication in prescription.Medications)
                        {
                            <li>
                                @medication.PharmacyMedicationName - Qty: @medication.Quantity, Instructions: @medication.Instructions
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
