@model IEnumerable<WIRKDEVELOPER.Models.Booking>
@{

    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<div class=" col-10 text-right">
    <a asp-controller="Surgeon" asp-action="CreateBooking" style="width:100%"></a>
</div>
<div class="bg-info bg-opacity-50">
    @using (Html.BeginForm("SearchPatient", "Surgeon", FormMethod.Get))
    {
        <b>search by:</b>
        @Html.RadioButton("searchby", "Date", true)

        <text>date</text>
        @Html.RadioButton("searchby", "Name", true) <text>name</text>

        <br>
        @Html.TextBox("search", "", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="search" class="btn btn-info " />
    }
</div>
@if (Model.Count() > 0)
{
    <table class=" table table-bordered table-striped table-info">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>email</th>
                <th>date</th>
                <th>Theatre</th>
                <th>treatmentcode</th>
                <th> Anasthesiologist</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {

                <tr>
                    <td>@booking.Name</td>
                    <td>@booking.Surname</td>
                    <td>@booking.Gender</td>
                    <td>@booking.EmailAddress</td>
                    <td>@booking.Date</td>
                    <td>@booking.Time</td>
                    @* <td>@booking.Theatre</td>
            <td>@booking.treatmentcode</td>
            <td>@booking.Anasthesiologist</td> *@


                </tr>



            }

        </tbody>
    </table>
}
else
{
    <p class="text-danger">NO Record</p>
    <a asp-controller="Surgeon" asp-action="CreatePatient">Add new patient</a>

}
