@model IEnumerable<PrescriptionViewModel>
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}

<div class=" col-10 text-right">
    <a asp-controller="Surgeon" asp-action="CreatePrescription" style="width:100%">CREATE NEW PRESCRIPTION</a>
</div>
<h1><div class="bg-info bg-opacity-50 text-center text-white rounded-1">PRESCRIPTIONS</div></h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date</th>
            <th>Medications</th> <!-- Change column header to "Medications" -->
            <th>Prescriber</th>
            <th>Urgent</th>
            <th>Status</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            if (prescription.Urgent.ToLower() == "yes")
            {
                <tr scope="row" style="background-color: red;">
                    <td>@prescription.Name</td>
                    <td>@prescription.Gender</td>
                    <td>@prescription.Email</td>
                    <td>@prescription.Date.ToString("d")</td>
                    <td>
                        @if (prescription.Medications != null && prescription.Medications.Any())
                        {
                            <ul>
                                @foreach (var medication in prescription.Medications)
                                {
                                    <li>
                                        @medication.PharmacyMedicationID - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@prescription.Prescriber</td>
                    <td>@prescription.Urgent</td>
                    <td>@prescription.Status</td>
                   @*  <td>
                        <a asp-controller="Pharmacist" asp-action="updatePharmIndexOrder" asp-route-ID="@prescription.PrescriptionViewModelID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Dispense</a>

                    </td>
                    <td>
                        <a asp-controller="Pharmacist" asp-action="RejectPharmIndexOrder" asp-route-ID="@prescription.PrescriptionViewModelID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Reject</a>
                    </td> *@
                </tr>
            }
            else
            {
                <tr>
                    <td>@prescription.Name</td>
                    <td>@prescription.Gender</td>
                    <td>@prescription.Email</td>
                    <td>@prescription.Date.ToString("d")</td>
                    <td>
                        @if (prescription.Medications != null && prescription.Medications.Any())
                        {
                            <ul>
                                @foreach (var medication in prescription.Medications)
                                {
                                    <li>
                                        @medication.PharmacyMedicationID - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@prescription.Prescriber</td>
                    <td>@prescription.Urgent</td>
                    <td>@prescription.Status</td>
                   @*  <td>
                        <a asp-controller="Pharmacist" asp-action="updatePharmIndexOrder" asp-route-ID="@prescription.PrescriptionViewModelID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Dispense</a>

                    </td>
                    <td>
                        <a asp-controller="Pharmacist" asp-action="RejectPharmIndexOrder" asp-route-ID="@prescription.PrescriptionViewModelID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Reject</a>
                    </td> *@
                </tr>
            }

        }
    </tbody>
</table>