@model IEnumerable<WIRKDEVELOPER.Models.PharmacyMedication>
@{

    Layout = "~/Views/Shared/Pharmacy.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap4.min.css" />
</head>
<div id="Header" class="bg-info container">
    <h2 class="m-1 pt-4 text-center text-white">Medication Record</h2>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of your orders</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Pharmacist" asp-action="AddMedication" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Add Meds</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        @*<table class="table table-bordered table-striped" style="width:100%">*@
        <table class="table table-sm table-hover col-md-12">

            <thead class="table-secondary">
                <tr>
                    <th>
                        PharmacyMedication
                    </th>
                    <th>
                        Schedule
                    </th>
                    <th>
                        DosageForm
                    </th>


                    <th>
                        Stockhand
                    </th>
                    <th>
                        Stocklevel
                    </th>
                   @*  
                    <th>
                       Strength
                    </th> *@
                    <th>
                        ActiveIngridients
                    </th>
                  
                    
                  

                </tr>
            </thead>

            <tbody>
                @foreach (var medication in Model)
                {
                    <tr>
                        <td>@medication.PharmacyMedicationName</td>
                        <td>@medication.Schedule.ScheduleName</td>
                        <td>@medication.DosageForm.DosageFormName</td>
                        <td>@medication.stockhand</td>
                        <td>@medication.stocklevel</td>
                        <td>
                            <ul>
                                @foreach (var ingredient in medication. Ingredients)
                                {
                                    <li>@ingredient.Active.ActiveName - @ingredient.Strength</li>
                                }
                            </ul>
                        </td>

                        <td>
                            <a asp-controller="Pharmacist" asp-action="updateMedication" asp-route-ID="@medication.PharmacyMedicationID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Update</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Orders taken yet</p>
    }

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>

