@model IEnumerable<Prescription>

@{
    Layout = "~/Views/Shared/Pharmacy.cshtml";
}

<h1><div class="bg-info bg-opacity-50 text-center text-white rounded-1">PRESCRIPTIONS</div></h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>surname</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date</th>
            <th>Medications</th> <!-- Change column header to "Medications" -->
            <th>Prescriber</th>
            <th>Urgent</th>
            <th>Status</th>
            <th>update</th>
            <th>update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            if (prescription.Urgent.ToLower() == "yes")
            {
                <tr scope="row" style="background-color:red;">
                    <td>@prescription.Name</td>
                    <td>@prescription.Surname</td>
                    <td>@prescription.Gender</td>
                    <td>@prescription.Email</td>
                    <td>@prescription.Date.ToString("d")</td>
                    <td>
                        @if (prescription.PrescriptionMedications != null && prescription.PrescriptionMedications.Any())
                        {
                            <ul>
                                @foreach (var medication in prescription.PrescriptionMedications)
                                {
                                    <li>
                                        @medication.PharmacyMedicationID - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@prescription.Prescriber</td>
                    <td>@prescription.Urgent</td>
                    <td>@prescription.Status</td>
                    <td>@prescription.IgnoreReason</td>
                    <td>
                       <a asp-controller="Pharmacist" asp-action="UpdatePrescription" asp-route-id="@prescription.PrescriptionID" class="btn btn-primary">Update</a> 
                       @*  <a class="btn btn-info" href="@Url.Action("UpdatePrescription","Pharmacist",new{id = prescription.PrescriptionViewModelID})">Update</a> *@
                        <a asp-controller="Pharmacist" asp-action="RejectPrescription" asp-route-id="@prescription.PrescriptionID" class="btn btn-primary">Reject</a>
                    </td>
                </tr>
            }
            else
            {
                <tr scope="row">
                    <td>@prescription.Name</td>
                    <td>@prescription.Surname</td>
                    <td>@prescription.Gender</td>
                    <td>@prescription.Email</td>
                    <td>@prescription.Date.ToString("d")</td>
                    <td>
                        @if (prescription.PrescriptionMedications != null && prescription.PrescriptionMedications.Any())
                        {
                            <ul>
                                @foreach (var medication in prescription.PrescriptionMedications)
                                {
                                    <li>
                                        @medication.PharmacyMedicationID - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@prescription.Prescriber</td>
                    <td>@prescription.Urgent</td>
                    <td>@prescription.Status</td>
                    <td>
                        <a asp-controller="Pharmacist" asp-action="UpdatePrescription" asp-route-id="@prescription.PrescriptionID" class="btn btn-primary">Update</a>

                    </td>
                </tr>
            }

        }
    </tbody>
</table>

