@model IEnumerable<PrescriptionViewModel>

@{
    Layout = "~/Views/Shared/Pharmacy.cshtml";
}

<h1><div class="bg-info bg-opacity-50 text-center text-white rounded-1">PRESCRIPTIONS</div></h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>surname</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date</th>
            <th>Medications</th> <!-- Change column header to "Medications" -->
            <th>Prescriber</th>
            <th>Urgent</th>
            <th>Status</th>
            <th>update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td>@prescription.Name</td>
                <td>@prescription.surname</td>
                <td>@prescription.Gender</td>
                <td>@prescription.Email</td>
                <td>@prescription.Date.ToString("d")</td>
                <td>
                    @if (prescription.Medications != null && prescription.Medications.Any())
                    {
                        <ul>
                            @foreach (var medication in prescription.Medications)
                            {
                                <li>
                                    @medication.PharmacyMedicationID - Quantity: @medication.Quantity, Instructions: @medication.Instructions
                                </li>
                            }
                        </ul>
                    }
                </td>
                <td>@prescription.Prescriber</td>
                <td>@prescription.Urgent</td>
                <td>@prescription.Status</td>
                <td>
                    <a asp-controller="Pharmacist" asp-action="UpdatePrescription" asp-route-id="@prescription.PrescriptionViewModelID" class="btn btn-warning">Update</a>

                </td>
            </tr>
        }
    </tbody>
</table>

